<div class="rounded shadow-sm pb-1">
  <span class="subscription">
    <% if subscription.user.present? %>
      <%= render partial: 'users/user', object: subscription.user %>
      <% if current_user_can_edit?(subscription) %>
        <%= link_to(
                fa_icon('times'),
                event_subscription_path(subscription.event, subscription),
                method: :delete,
                data: {confirm: t('.destroy_confirm')}
            ) %>
      <% end %><br>
    <% else %>
      <%= image_tag user_avatar(@user), class: 'img-icon mt-2' %>
      <em><%= subscription.user_name %></em><br>
    <% end %>
  </span>
</div>
