<div class="carousel-item text-center">
  <%= image_tag((photo.photo.url), class: 'img-fluid') %>
  <br>

  <% if photo.user.present? %>
    <%= render partial: 'users/user', object: photo.user %>

    <% if current_user_can_edit?(photo) %>
      <%= link_to(
        fa_icon('trash'), event_photo_path(photo.event, photo),
        method: :delete, data: {confirm: t('.destroy_confirm')}
      ) %>
    <% end %>
  <% end %>
</div>
